# Exclude all
/*

# Include sub-projects
!subprojects/

# Include important git files.
!.gitignore

# Include other important files.
!README.md
!LICENSE.txt

# Include Gradle related files.
!gradle/
!settings.gradle
!build.gradle
!gradlew
!gradlew.bat
